<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Perfil</title>
</head>
<body class="<%= themeColor %>">
  <%- include('./partials/header') %>
  <main>
    <h3>Perfil</h3>
    <section>
      <p>Usuario: <strong><%= user %></strong></p><br>
      <form action="/logout" method="post">
        <button>Cerrar sesión</button>
      </form>
    </section>
    <section>
      <p><a href="/">Volver al inicio</a></p>
    </section>
  </main>
  <%- include('./partials/footer') %>
</body>
</html>