* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.light {
  background-color: #e2e2e2;
  color: #0a2463;
}

body.dark {
  background-color: #0a2463;
  color: #e2e2e2;
}

body.light a {
  color: #1e56a0;
  text-decoration: none;
  transition: all 0.3s ease;
}

body.light a:hover {
  color: #163172;
  text-decoration: underline;
}

body.light a:visited {
  color: #5a3d8a;
}

body.light a:active {
  color: #0a2463;
}

body.light a:focus {
  outline: 2px solid #1e56a0;
  outline-offset: 2px;
  border-radius: 2px;
}

body.dark a {
  color: #6fa8dc;
  text-decoration: none;
  transition: all 0.3s ease;
}

body.dark a:hover {
  color: #a4c2f4;
  text-decoration: underline;
}

body.dark a:visited {
  color: #b4a7d6;
}

body.dark a:active {
  color: #e2e2e2;
}

body.dark a:focus {
  outline: 2px solid #6fa8dc;
  outline-offset: 2px;
  border-radius: 2px;
}
